@font-face{
    font-family: 'BetterTimes';
    src: url('../static/fonts/BetterTimes.eot');
    src: url('../static/fonts/BetterTimes.eot?#iefix') format('embedded-opentype'), url('../static/fonts/BetterTimes.woff') format('woff'), url('../static/fonts/BetterTimes.ttf') format('truetype');

}